<div class="vertical-nav bg-red-dark" id="sidebar">
    <div>
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 class="m-0">Usuario</h4>
                    <p class="font-weight-light text-muted mb-0">Web developer</p>
                </div>
            </div>
        </div>

        <p class="text-light font-weight-bold text-uppercase px-3 small pb-4 mb-0">Comics</p>

        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a [routerLink]="['']" class="nav-link text-light bg-red" routerLinkActive="active">
                    <i class="fa fa-th-large mr-3 text-light fa-fw"></i> Home
                </a>
            </li>

        </ul>

        <p class="text-light font-weight-bold text-uppercase px-3 small py-4 mb-0 ">Usuarios</p>

        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a [routerLink]="['users']" class="nav-link text-light bg-red" routerLinkActive="active">
                    <i class="fa fa-users mr-3 text-light fa-fw"></i>Ver Usuarios
                </a>
            </li>

        </ul>
    </div>
</div>